.landing {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Technology/full%20page/1.jpg);
  /*     position: fixed; */
  /*     top: 0px; */
  /*     left: 0px; */
  width: 100vw;
  height: calc( 100vh - 256px );
  overflow: hidden;
  /*   pointer-events: none; */
  /*     margin-left: -317.834px; */
  /*     margin-top: 0px; */
  visibility: visible;
  display: flex;
}

.landing-text-wrapper {
  position: relative;
  width: 100%;
  min-height: 1px;
}

.landing-text {
  text-align: center;
  width: 300px;
}

.landing-text-h2 {
  margin: 0;
}

.mdc-button {
  margin: 0 4px;
}

.flex-center {
  background: rgba(0, 0, 0, 0.74);
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.page-home section {
  margin: 16px 0 0 0;
}

h3 {
  margin: 0 0 8px 0;
}

.media-button {
  width: 44px;
  height: 44px;
  left: calc(50% - 22px);
  top: calc(50% - 22px);
  position: absolute;
}

.mdc-grid-tile__innerWrapper{
 padding:12px; 
}

.page .mdc-grid-tile{
  padding:0;
  margin:0;
}

.section-music .mdc-grid-tile {
  width: 50%;
}

.section-videos .mdc-grid-tile {
  width: 100%;
}

.mdc-grid-tile__secondary {
  position: relative;
  display: flex;
  flex-direction: column;
  /*   width: 100%; */
}

.mdc-grid-list .mdc-grid-tile__secondary {
  left: 0;
  width: 100%;
}

.events span.mdc-list-item__end-detail {
  width: auto;
}

@media (max-width: 839px) and (min-width: 480px) {
  .section-music .mdc-grid-tile {
    width: 33%;
  }
  .section-videos .mdc-grid-tile {
    width: 50%;
  }
}

@media (min-width: 840px) {
  .section-music .mdc-grid-tile {
    width: 20%;
  }
  .section-videos .mdc-grid-tile {}
}

@media (min-width: 840px) {
  ul.mdc-grid-list__tiles -_-scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .section-music .mdc-grid-tile {
    width: 20%;
  }
  .section-videos .mdc-grid-tile ._old {
    width: 15%;
  }
  .section-videos .mdc-grid-tile {
    width: 33%;
  }
}

@media (min-width: 1280px) {
  .section-music .mdc-grid-tile {
    width: 15%;
  }
  .section-videos .mdc-grid-tile {
    width: 20%;
  }
}

@media (min-width: 1440px) {
  .section-music .mdc-grid-tile {
    width: 10%;
  }
  .section-videos .mdc-grid-tile {
    width: 15%;
  }
}








.i-amp-video-eq {
  align-items: flex-end;
  display: flex;
/*   position: absolute; */
/*   right: 7px; */
/*   bottom: 7px; */
/*   width: 20px; */
  height: 36px;
  overflow: hidden;
  opacity: 0.8;
}

.i-amp-video-eq .-amp-video-eq-col {
  flex: 1;
  position: relative;
  height: 100%;
  margin-right: 1px;
}

.i-amp-video-eq .-amp-video-eq-col div {
  animation-name: amp-video-eq-animation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-color: #FAFAFA;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  will-change: transform;
}

.-amp-video-eq-1-1 {
  animation-duration: 0.3s;
}

.-amp-video-eq-1-2 {
  animation-duration: 0.45s;
}

.-amp-video-eq-2-1 {
  animation-duration: 0.5s;
}

.-amp-video-eq-2-2 {
  animation-duration: 0.4s;
}

.-amp-video-eq-3-1 {
  animation-duration: 0.3s;
}

.-amp-video-eq-3-2 {
  animation-duration: 0.35s;
}

.-amp-video-eq-4-1 {
  animation-duration: 0.4s;
}

.-amp-video-eq-4-2 {
  animation-duration: 0.25s;
}

@keyframes amp-video-eq-animation {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}