  .player {
    position: fixed;
    bottom: 0;
    left: 0;
    /*   right: 0; */
    padding: 0 20px;
    --mdc-theme-accent: #d60000;
    --mdc-theme-primary: #FBC02D;
  }

  .react-player {
    width: 36px;
    display: flex;
    height: 36px;
    padding: 0;
    margin-right: 12px;
  }

  button.material-icons.mdc-toolbar__icon.mdc-button.mdc-button {
    line-height: 0;
    min-width: auto;
  }

  .mdc-toolbar__icon:last-child {
    padding-right: 8px;
  }

  .meta-wrapper {
    display: flex;
    flex-direction: column;
    FLEX-GROW: 1;
  }

  .trackTitle {
    /*     color: var(--mdc-theme-primary); */
    margin: 0;
    padding: 0;
    white-space: 'nowrap';
    overflow: 'hidden';
    text-overflow: 'ellipsis';
    line-height: 1rem;
    color: #d60000;
  }

  .trackUser {
    color: #212121;
    /*     color: var(--mdc-theme-primary); */
    line-height: 1rem;
    margin: 0;
    padding: 0;
    margin: 0
  }